
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.aside-sec{
    width: 300px;
    margin-left: 50px;
    margin-top: 50px;
}
ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


a {
    text-decoration: none;
    color: inherit;
    display: block; 

}
.allCategory{
background-color: #B3B93D;
color: white;
}
.allCategory a{
    padding: 5px;
}

li {
    
    list-style: none;
    padding: 20px 25px;
    text-transform: capitalize;
    line-height: 28px;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid black;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: all 0.2s ease;
}


