*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.head{
    width: 400px;
}

.navbar{
    display: flex;
    align-items: center;

}

.head-logo{
    max-width: 300px;
}

.head-logo svg{
    width: 100%;
}