* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.head {
  width: 100%;
  padding: 15px 40px;
  border-bottom: 1px solid #eee;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.head-logo {
  max-width: 260px;
}
.head-logo svg {
  width: 100%;
  height: auto;
}

/* CENTER */
.head-center {
  display: flex;
  align-items: center;
  gap: 20px;
}

.delivery {
  border: 1px solid #ddd;
  border-radius: 24px;
  padding: 12px 20px;
  font-size: 14px;
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
}
.search-box {
  position: relative;
}

.search-box input {
  width: 320px;
  padding: 12px 60px 12px 20px;
  border-radius: 24px;
  border: 1px solid #ddd;
  font-size: 14px;
  outline: none;
}

/* LUPA */
.search-box i {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #000;
  cursor: pointer;
  width: 24px;
  text-align: center;
}

/* XƏTT – ikonun SOLUNDA */
.search-box::after {
  content: "";
  position: absolute;
  right: 48px;   /* ikonun qabağı */
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 24px;
  background-color: #ddd;
}

.head-left {
  display: flex;
  gap: 20px;
}

.head-left a {
  font-size: 20px;
  color: #000;
}
